project_id = "iudraqlmwltqwlpqfusi"

[api]
enabled = true
port = 54321
schemas = ["public", "storage"]
extra_search_path = ["public"]
max_rows = 1000

[db]
port = 54322
major_version = 15

[studio]
enabled = true
port = 54323

[functions.analyze-food]
verify_jwt = false

[functions.generate-meal-plan]
verify_jwt = false
